<br>
<div class="row" style="background-color:rgb(223, 206, 206);">
 <div class="col-md-4" *ngFor="let data of scootyList">
 <br>
 <img width="300" height="300" alt="thumbnail" [src]="data.imageUrl">
 <br>
 <br>
 <h3 style="font-size:21px;"><span>Scooty: {{data.name}}</span></h3>
 <br>
 <h3 style="font-size:21px;"><span> Battery:{{data.battery}}</span></h3>
 <br>
 <h3 style="font-size:21px;"><span> Speed: {{data.speed}}</span></h3>
 <br>
 <h3 style="font-size:21px;"><span> Weight: {{data.weight}}</span></h3>
 <br>
 <h3 style="font-size:21px;"><span>Charging Time: {{data.chargingtime}}</span></h3>
 <br>
 <h3 style="font-size:21px;"><span>Price: {{data.price | currency:'INR'}}</span></h3>
 </div>
</div>
<br>
<div class="container" style="text-align:center;">
        <app-footer></app-footer>
</div>        
      
